@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
/* font-family: 'Nabla', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
    --warna:green
}

*{
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

*::selection{
    background: var(--warna);
    color: rgb(82, 80, 80);
}

html{
    font-size: 62,5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
    background: rgb(82, 80, 80)
}

html::-webkit-scrollbar-thumb{
    background: var(--warna);
}

body{
    background: rgb(36, 35, 35);
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding: 1rem;
}

.btnhome{
    font-family: 'Nabla', cursive;
    font-size: 3rem;
    padding: 4rem 4rem;
    background: rgb(12, 73, 7);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0 1rem 2 rem rgba(0,0,0,.2);
    margin-top: 5rem;
    cursor: pointer;
    transition: .2rem linear;
    -webkit-transition: .2rem linear;
    -moz-transition: .2rem linear;
    -ms-transition: .2rem linear;
    -o-transition: .2rem linear;
}

.btnhome:hover{
    background: rgb(82, 80, 80);
}

.btn{
    padding: .7rem 3rem;
    background: rgb(82, 80, 80);
    font-family: 'Nabla', cursive;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.5rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background: rgb(12, 73, 7);
    color: white;
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .3rem solid rgb(12, 73, 7);
    color: white;
}

.heading span{
    color: var(--warna);
}

header{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background-image: url(/Assets/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid white;
}

header .user .name{
    font-size: 2.5rem;
    color: white;
}

header .user .post{
    font-size: 1.5rem;
    color: white;
}

header .navbar{
    width: 100%;
}

header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: rgb(82, 80, 80);
    font-family: 'Nabla', cursive;
    font-size: 2rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

header .navbar ul li a:hover{
    background: var(--warna);
    font-size: 2.5rem;
}

#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: rgb(12, 73, 7);
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    
}

.home h3{
    font-size: 5rem;
    text-align: center;
    font-weight: lighter;
    color: white;
}

.home .name{
    text-align: center;
}

.home .name span{
    font-size: 6rem;
    color: rgb(12, 73, 7);
}

.home h3 span{
    color: rgb(12, 73, 7);
}

.about{
    background-image: url(/Assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info{
    flex: 1 1 48rem;
    padding:  2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 4rem;
    color: var(--warna);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color: white;
    padding: 0 .5rem;
}

.about .row .info h3 a{
    color: white;
    padding: 0 .5rem;
}

.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info img{
    width: 300px;
    height: 500px;
    float: right;
    margin-right: 5rem;
    margin-bottom: 3rem;
    z-index: -1;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    border: .2rem solid;
    border-color: white;
}

.container{
    position: relative;
    min-height: 100vh;
}

.container h1{
    font-size: 40px;
    
}

.container2{
    margin: auto;
    padding-top: 5rem;
}

.container3{
    padding-top: 10rem;
}

.nft{
    
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: auto;
    padding-left: .5rem;
    float: center;
}

.headingdesign{
    text-align: center;
    margin: 4rem 6rem;
    font-size: 4rem;
    padding: 3rem;
    border-bottom: .3rem solid rgb(12, 73, 7);
    color: white;
}

.headingdesign span{
    color: var(--warna);
}

.headingdesign2{
    text-align: center;
    margin: 4rem 6rem;
    font-size: 4rem;
    padding: 3rem 6rem;
    border-bottom: .3rem solid rgb(12, 73, 7);
    color: white;
}

.headingdesign2 span{
    color: var(--warna);
}

.headingdesign3{
    text-align: center;
    margin: 4rem 6rem;
    font-size: 4rem;
    padding: 3rem 6rem;
    border-bottom: .3rem solid rgb(12, 73, 7);
    color: white;
}

.headingdesign3 span{
    color: var(--warna);
}

div .logo{
    border: 1px solid rgb(12, 73, 7);
}

div .logo img{
    width: 100%;
    height: auto;
}

div .nft{
    width: 100%;
    height: auto;
    border: 1px solid white;
}

div .banner{
    border: 1px solid rgb(12, 73, 7);
}

div .banner img{
    width: 100%;
    height: auto;
}

div .logo video{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}


div .desc{
    font-size: 2rem;
    padding: 15px;
    color: white;
    text-align: center;
}


.responsive{
    padding: 0 6px;
    float: left;
    width: 25%;
}





























/* media */
@media (max-width:1400px){

    html{
        font-size: 57%;
    }

    .home{
        padding: 1rem 4rem;
    }
}


@media (max-width:1200px){

    html{
        font-size: 57%;
    }

    .home{
        padding: 1rem 4rem;
    }
}

@media (max-width:991px){

    header{
        left: -120%;
    }

    #menu{
        display: block;
    }

    header.toggle{
        left: 0%;
    }

    body{
        padding: 0%;
    }
}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
}

@media (max-width:400px){

    header{
        width: 100vw;
    }
}

@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
@media only screen and (max-width: 540px) {
    .responsive {
      width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .container3 {
      width: 49.99999%;
      margin: 6px 0;
      float: center;
    }
  }
  
@media only screen and (max-width: 540px) {
    .container3 {
      width: 100%;
      float: center;
    }
  }